body {
  background-image: url("bg.png");
  background-color: #85827A;
  max-width: 700px;
  margin: auto;
  /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
  font-size: 15px;
  color: #bebebe;
}

a {
  text-decoration: none;
  color: #0004ff;
  text-decoration: underline;
}

canvas {
  border: 5px solid rgb(125, 125, 125);
}

.header {
  text-align: center;
}

.footer {
  text-align: center;
  font-size: 10px;
}